<div id="header">
    {% include 'partials/header.html.twig' %}
</div>
<div id="menu">
    {% include 'partials/navigation.html.twig' %}
</div>
<div id="footer">
    {% include 'partials/footer.html.twig' %}
</div>
